<?xml version="1.0" encoding="utf-8"?>
<!-- Based on https://learn.microsoft.com/en-us/nuget/consume-packages/package-source-mapping#enable-by-manually-editing-nugetconfig. -->
<configuration>
  <!-- Define the package sources, `clear` ensures no additional sources are inherited from another config file. -->
  <packageSources>
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="orchardcore-preview" value="https://nuget.cloudsmith.io/orchardcore/preview/v3/index.json" />
  </packageSources>

  <!-- Define mappings by adding package patterns beneath the target source. -->
  <!-- OrchardCore.* packages will be restored from orchardcore-preview, everything else from NuGet. -->
  <packageSourceMapping>
    <packageSource key="NuGet">
      <package pattern="*" />
    </packageSource>
    <packageSource key="orchardcore-preview">
      <package pattern="OrchardCore*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
